body {
    font-family: Arial, sans-serif;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 300px;
    max-width: 100%;
    overflow: hidden;
}

.form-container {
    display: none;
    text-align: center;
    width: 100%;
}

.form-container.active {
    display: block;
}

h2 {
    margin-bottom: 20px;
}

input[type="text"], input[type="password"], input[type="email"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #00aaff;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #0088cc;
}

.links {
    margin-top: 10px;
}

.links a {
    display: block;
    color: #00aaff;
    text-decoration: none;
    margin: 5px 0;
}

.links a:hover {
    text-decoration: underline;
}
